/* 
DISCLAIMER: I KNOW I COULD HAVE DONE THIS BETTER! HAD A BIG TRIAL AND ERROR SESSION TO GET THIS WORKING,
I THINK THE CIRCLES IS MUCH MORE EFFICENTLY DONE THEN THE SQUARES :D
I know my use of height and width might not be right, i maybe should have used flex-basis for the boxes and use a max / min width / height to make 
sure it grows inside of its permits and not have already set sizes, but i need a weekend break so i let this be done here and hope you accept it :)

 
The main container of the Card element! 
margin-bottom to add margin to the .circle block.
making sure things stays centered!
*/
.square {
    height: 100vh;
    margin-bottom: 20px;
    background-color: #718355;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* 
The information container to keep the cards as i want them!
making sure the full width and height is used for the container.
added padding to give the card class 20px margin from the edge of this container
used wrap to make sure they switch row when filling the container.
justify-content to keep them separated.
*/
.square__container {
    /* background-color: #97a97c; */
    /* bugcheck ^ */
    width: 100%;
    max-width: 956px;
    min-width: 0;
    height: 100%;
    min-height: 0;
    max-height: 520px;
    padding: 20px;
    border: none; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
}
/* 
Card design!
same as above with width and height.
also added bottom margin of 20px for them to spread out evenly across the square__container
*/
.card {
    background-color: #b5c99a;
    /* bugcheck ^ */
    border-radius: 8px;
    width: 100%;
    max-width: 468px;
    height: 100%;
    max-height: 160px;
    margin-bottom: 20px;
    display: flex;
}
/* the first card containers items! Here lies the magic that tells the boxes where to go!*/
.card__one {
    width: 100%;
    /* My margin left and bottom shows 19px, not sure this is properly aligned but i do what my figma shows :) */
    margin-left: 19px; 
    margin-bottom: 19px;    
    display: flex;
    align-items: flex-end;
}
/* This is the boxes inside of card one! */
.card__onebox {
    background-color: #97a97c;
    border-radius: 4px;
    width: 100%;
    max-width: 78px;
    height: 100%;
    max-height: 78px;
    margin-right: 20px;
    border: none; 
    display: flex;
}
/* My 2nd Card box */
.card__two {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* This is the boxes inside of card two */
.card__twobox {
    background-color: #97a97c;
    border-radius: 4px;
    width: 100%;
    max-width: 78px;
    height: 100%;
    max-height: 120px;
    margin: 10px;
    border: none;
    display: flex;
}
/* My 3rd card box */
.card__three {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
/* This is the boxes inside of card three */
.card__threebox {
    background-color: #97a97c;
    border-radius: 4px;
    width: 100%;
    max-width: 78px;
    height: 100%;
    max-height: 78px;
    margin-right: 20px;
    border: none; 
    display: flex;
}
/* Card 4 box!! */
.card__four {
    width: 100%;
    margin-left: 20px; 
    margin-top: 20px;  
    display: flex;  
    align-items: flex-start;
    justify-content: space-between;
}
/* Boxes inside of card4 had to do some extra and realized this might have been a very very slow way of doing this design :D */
.card__fourbox {
    background-color: #97a97c;
    border-radius: 4px;
    width: 100%;
    max-width: 78px;
    height: 100%;
    max-height: 78px;
    border: none; 
    margin-right: 20px;
    display: flex;
    /* This is the third box in card four, had to give it another mission in life! */
}
.card--fourboxthree {
    align-self: flex-end;
    margin-bottom: 20px;
    margin-right: 20px;
}

/* Card 5! My god ive made to many boxes and classes, i bet there is a better way, but lets finish, do not let my mind get melted, finish the thought and learn after!!!! */
.card__five {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    /* identical to box height */
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    margin-left: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* Downward follows the three boxes from Card Five ... MY god this is painful :D The text alignment and box alignment is so random i hope this is ok, but i see text aint where it should in box 2 :( */
.card__fiveboxfirst {
    background-color: #97a97c;
    border-radius: 4px;
    width: 78px;
    height: 120px;
    margin-left: 20px;
    border: none; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__fiveboxsecond {
    background-color: #97a97c;
    border-radius: 4px;
    width: 78px;
    height: 64px;
    margin-bottom: 10px;
    border: none; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__fiveboxthird {
    background-color: #97a97c;
    border-radius: 4px;
    width: 78px;
    height: 120px;
    margin-right:20px ;
    border: none; 
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Card 6!  */
.card__six {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* One day i will figure this out the proper way, but until then i let this be finished?! */
.card__sixbox {
    background-color: #97a97c;
    border-radius: 4px;
    width: 100%;
    max-width: 78px;
    height: 100%;
    max-height: 78px;
    border: none; 
    display: flex;
}
.card__sixboxsecond {
    background-color: #97a97c;
    border-radius: 4px;
    width: 100%;
    max-width: 156px;
    height: 100%;
    max-height: 78px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    display: flex;
}

/*  HERE    */
/*  IS THE  */
/* CIRCLES! */
/*  oOoOoOo */
/* Its the domino effect! */

/* I think i finally am starting to understand flexbox!  */
.circle__page {
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-shrink: 0;
    flex-grow: 0;
}
/* Making sure the container is in right size! */
.circle__container {
    /* background-color: #97a97c; */
    /* bugcheck ^ */
    width: 100%;
    max-width: 859px;
    min-width: 859px;
    height: 100%;
    min-height: 460px;
    max-height: 460px;
    border: none; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
/* Using flex-direction: column for organization of the boxes, it gave them wrong order, so i used the "order" command to make sure each box is put in the right order. 
   Could have just renamed them and kept it that way and made the Figma according and naming according to how they was shown on the page. Had to give a small padding
   on the box to make sure it placed the circles away from the edges. 

   CBOX* = short for Circlebox order, according to how you see them as 1 2 3
                                                                       4 5 
   */
.cbox1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    order: 1;
    background-color: black;
    height: 200px;
    width: 253px;
    margin-right: 20px;
    padding: 10px;
}
.cbox2 {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-start;
    order: 3;
    background-color: black;
    height: 200px;
    width: 253px;
    margin-right: 20px;
    padding: 10px;
}
.cbox3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    order: 5;
    background-color: black;
    height: 200px;
    width: 253px;
    margin-right: 20px;
    padding: 10px;
}
.cbox4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    order: 2;
    background-color: black;
    height: 200px;
    width: 253px;
    margin-right: 20px;
    padding: 10px;
}
.cbox5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    order: 4;
    background-color: black;
    height: 200px;
    width: 253px;
    margin-right: 20px;
    padding: 10px;
}
/* Gave the Circle a smaller radius and added padding and margin to make sure they had the right distance from eachother and the edge of the boxes. */
.circle{
    display: flex;
    background-color: white;
    flex-shrink: 0;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
}